.appointment-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;

    &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    p {
        span {
            font-weight: 900;
        }
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        margin-right: 8px;
        cursor: pointer;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: #002e5f;
        }
    }
}
